[Unit]
Description=Mount unit for snapd, revision 11036
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/snapd_11036.snap
Where=/snap/snapd/11036
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
